@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Roboto:wght@100&display=swap');
*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
    font-family: 'Golos Text', sans-serif;
    background-color:#F6E1C3;
}
header{
    /* background-color:rgb(225, 238, 221); */
    background-color: rgb(185, 155, 107);
    padding: 0%;
    margin: 0%;
}
.nav-bar{
   width: 100%;
}
.nav-bar ul{
    padding: 50px;
    margin: 0%;
    list-style: none;
    padding: 80px 184px;
    word-spacing: 44px ;
    /* fixx */
    
}
.nav-bar ul li{
    display: inline-block;
    margin: 0%;
    padding: 0%;
   
}
.nav-bar a{
    text-decoration: none;
    text-align: center;
    padding: 10px 16px;
    font-size: 28px;
    color: #F6E1C3;
}
.nav-bar a:hover{
    transition: color 0.2s ease-out;
    color: rgb(254, 254, 254);
}

.navigation{
    padding: 0;
    margin: 0;
    display:flex;
}

/* logo */
.logo{
    max-width: 100%;
    height: 200px;
    padding-right: 100px;
    /* padding: 0px 10px;   */
}
.greet{
    margin: 75px 200px;
    padding-left: 90px;
    /* font-size: large; */
    
}
.container{
    display: flex;
    color: black;
    margin: 0%;
    width: auto;
    height: 80vh;
    /* justify-content:space-evenly; */
}
.beans{
    max-width: 100%;
    
}
.duh{
    font-size: 100px;
    color: #483228;
    line-height: 1;
    animation: fadeIn 3s;
}
span{
    color: #764a13;
    animation: fadeIn 2s;
}
span1{
    color: #764a13;
}
h2{
    color: #483228;
    animation: fadeIn 3.5s;
}
span2{
    font-size: 80px;
    animation: fadeIn 3.4s;
}
p{
    color: #483228;
    font-size: large;
    animation: fadeIn 5s;
}
.container1 .bih{
    text-align: center;
    color: #483228;
    font-size: 50px;
}
.container1 .menu{
    max-width:50%;
    height: 80vh;
    justify-content: center;   
}
.container1{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.container1 p{
    font-size: 24px;
    font-weight: bold;
}
.container2{
    background-color: #361500;
    /* border-radius: 100px; */
    margin-top: 26px;
    max-width: 100%;
    border-top-right-radius: 115px;
    border-bottom-right-radius: 115px;
    height: 50vh;
    
}
.container2 h1{
    font-size: 40px;
    color: #F6E1C3;
    text-align: center;
}
.container2 p{
    color: #F6E1C3;
    font-size: large;
}
.bit{
    margin-top: 25px;
    padding: 0px 30px;
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;

}

.bit span4{
    font-weight: bold;
}
.container3 h1{
    color:#483228;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
}
.container3{
    margin-top: 30px;
}
.container3 .info{
    /* border-style:dotted;
    border-width: 1; */
    justify-content: center;
   
}
.info a{
    list-style: none;
    text-decoration: none;
    color: #361500;
    font-size: large;
    font-weight: bold;
}
.info ul{
    text-align: center;
    margin: 15px;
}
.info ul li{
    list-style-type: none;
}
.container4{
    margin-top: 30px;
    background-image: linear-gradient(#F6E1C3, #483228);
}
.container4 h1{
    color:#483228;
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
}
.form{
    border-radius: 5px;
   
    padding: 20px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color:#F6E1C3;
    color:#361500;
    font-size: 20px;
    font-weight: bold;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}







